<div class="dropdown mb-4 col-md-3">
    <button class="btn btn-primary dropdown-toggle" type="button"
    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
        模型选择
    </button>
    <div class="dropdown-menu animated--fade-in"
        aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">PLMEE</a>
        <a class="dropdown-item" href="#">bert-CRF</a>
    </div>
</div>
<div class="dropdown mb-4 col-md-3">
    <button class="btn btn-primary dropdown-toggle" type="button"
    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    语言选择
    </button>
    <div class="dropdown-menu animated--fade-in"
        aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">中文</a>
        <a class="dropdown-item" href="#">英文</a>
    </div>
</div>